body {
    background: linear-gradient(blue,aqua)
}
h1 {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 60px;
    color: white;
}
#goldenIcon {
    width: 20%;
    height: auto;
    display: inline;
}
.sidebar > div > img {
    width: 60%;
    height: auto;
}
.sidebar > div {
    padding-bottom: 50px;
    padding-left: 30px;
    padding-top: 50px;
}
#searchBar {
    align-items: center;
}